<div class="main-container">
    <div class="panel-title"><span >Employee Panel</span></div>
    <div class="employee-list">
        <div class="employee-item">
            <div class="employee-details">
                <div class="separate"><span>Name :</span><span> {{employee.firstName}} {{employee.lastName}}</span></div>
                <div class="separate"><span>Phone:</span><span>{{employee.phoneNo}}</span></div>
            </div>
            <div class="button-section">
                <div class="btn">Edit</div>
                <div class="btn">Delete</div>
                <div class="btn">Expand</div>
            </div>
        </div>
    </div>
</div>