<div class="main-container">
    <div class="panel-title"><span >Inventory Panel</span></div>
    <div class="item-list">
        <div class="item-item">
            <div class="item-details">
                <div class="separate"><span >Item Name:</span><span>{{item.itemName}}</span></div>
                <div class="separate"><span >Item Quantity :</span><span>{{item.itemQty}}</span></div>
            </div>
            <div class="button-section">
                <div class="btn">Edit</div>
                <div class="btn">Delete</div>
                <div class="btn">Expand</div>
            </div>
        </div>
    </div>
</div>