<div class="main-container">
  <div class="sidebar">
    <div id="admin-panel">ADMIN PANEL</div>
    <div class="nav-buttons">
      <div class="btn" (click)="setEmployee()">Employee</div>
      <div class="btn" (click)="onClick()">Customer</div>
      <div class="btn" (click)="setInventory()">Inventory</div>
    </div>
  </div>
  <div class="display-area">
    <app-customer
      [customers]="customers"
      *ngIf="isCustomerSelected"
    ></app-customer>
    <app-employee *ngIf="isEmployeeSelected"></app-employee>
    <app-inventory *ngIf="isInventorySelected"></app-inventory>
  </div>
</div>
