<div class="main-container">
    <div class="panel-title"><span >Customer Panel</span></div>
    <div class="customer-list">
        <div *ngFor="let customer of customers" class="customer-item ">
            <div class="customer-details">
                
                <div class="separate"><span>Name :</span><span> {{customer.firstName}} {{customer.lastName}}</span></div>
                <div class="separate"><span>Phone:</span><span>{{customer.phoneNo}}</span></div>
                <div class="separate"><span>Address:</span><span>{{customer.phoneNo}}</span></div>
            </div>
            <div class="button-section">
                <div class="btn">Edit</div>
                <div class="btn">Delete</div>
                <div class="btn">Expand</div>
            </div>
        </div>
    </div>
</div>
