
.customer-item{
    display: flex;
    border: 5px solid var(--primary-color);
    flex-direction: row;
    justify-content:space-between ;
    height: fit-content;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    
}
.customer-details{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bolder;

}

.button-section{
    // border: 1px solid black;
    margin: 0.2rem;
}
.btn{
    border: 2px solid var(--primary-color);
    margin: 3px 0;
    width: 100px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    color: azure;

}
.panel-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1rem;

}

.btn:hover{
    transform: scale(1.1);
}

.separate{
    width: 20rem;
}
.separate span{
    width: 7rem;
    margin-left: 4rem;
}